.mycompany-wrapper {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 100px;
  background-image: linear-gradient(RGB(118, 181, 255) 30%, white);
}

.input-wrapper-left {
  width: 300px;
  min-width: 350;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

.input-wrapper-right {
  width: 300px;
  min-width: 350;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  margin-bottom: 30px;
}

.background-wrapper {
  width: 35%;
  min-width: 300px;
  margin: 0 auto;
}

.input-box {
  width: 270px;
}
