.calendar-wrapper {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 100px;
  background-image: linear-gradient(RGB(118, 181, 255) 30%, white);
}

iframe {
  width: 80%;
  height: 800px;
  margin-bottom: 30px;
}
