@import './Normalize.css';
@import './Globals.css';
@import './Grid.css';
@import './components/assignment/Assignment.css';
@import './components/calendar/Calendar.css';
@import './components/catalogue/Catalogue.css';
@import './components/header/Header.css';
@import './components/help/Help.css';
@import './components/indexes/Indexes.css';
@import './components/invoice/Invoice.css';
@import './components/mycompany/Mycompany.css';
@import './components/navmenu/Navmenu.css';
@import './components/products/Products.css';
@import './components/statistics/Statistics.css';
@import './components/timesheet/Timesheet.css';
@import './components/user/User.css';
@import './components/home/Home.css';
@import './components/help/Help.css';
@import './components/footer/Footer.css';
@import './components/coworkers/Coworkers.css';

.App {
  text-align: center;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  background-color: RGB(118, 181, 255);
}

.main-container {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}

.nav-link {
  font-weight: normal;
  cursor: pointer;
}
